@import '~/utils.scss';

.container {
 position: absolute;
  overflow: visible;
}

.frame-nav-popup {
 display: none;
}

.frame-view:hover {
 .frame-nav-popup {
  display: block;
  position: absolute;
  z-index: 10;
 }
}

.frame-view {
 @include no-select();
 pointer-events: all;
}
.frame-view-hidden {
 @include no-select();
 pointer-events: all;
 & :first-child {
  visibility: hidden
 }
}
