
.container {
position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: visible;
  z-index: 1000000000;
  pointer-events: none;
  > svg {
    overflow: visible
  }
}

.save-panel-container {
  position: absolute;
  z-index: 1000000;
  bottom: 0;
  width: 100%;
  padding-bottom: 40px;
  pointer-events: none;
  * {
    pointer-events: all;
  }
  display: flex;
  justify-content: center;
}
